/* =========================
   HERO
========================= */

.overons-hero {
    position: relative;
    padding: 4rem 2rem 0;
    text-align: center;
}

.overons-hero h1 {
    font-family: var(--font-title), serif;
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
    color: var(--color-text);
}

.overons-hero p {
    font-size: 1.1rem;
    color: var(--color-muted);
    max-width: 600px;
    margin: 0 auto;
}

/* =========================
   CONTENT WRAPPER
========================= */

.overons-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* =========================
   TEXT BLOCK
========================= */

.overons-text {
    position: relative;
    max-width: 820px;

    border: 1px solid var(--color-accent);
    padding: 3rem;
    border-radius: 1rem
}

.overons-text.reverse {
    margin-left: auto;
}


/* =========================
   TITLES
========================= */

.overons-text h2 {
    font-family: var(--font-title), serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
    color: var(--color-text);
}

.overons-text h2::after {
    content: "";
    display: block;
    width: 48px;
    height: 2px;
    margin-top: 0.8rem;
    background: linear-gradient(
            90deg,
            var(--color-accent),
            transparent
    );
}

/* =========================
   PARAGRAPHS
========================= */

.overons-text p {
    font-size: 1.05rem;
    line-height: 1.8;
    color: var(--color-muted);
    margin-bottom: 1.2rem;
}

.overons-text strong {
    color: var(--color-text);
    font-weight: 600;
}

.overons-text em {
    color: var(--color-accent);
    font-style: normal;
    font-weight: 500;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {
    .overons-hero h1 {
        font-size: 2rem;
    }

    .overons-content {
        gap: 2rem;
        padding: 4rem 1rem;
    }

    .overons-text h2 {
        font-family: var(--font-title), serif;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        position: relative;
        color: var(--color-text);
    }

    .overons-text p{
        font-size: 1rem;
    }

    .overons-text,
    .overons-text.reverse {
        margin-left: 0;
        max-width: 100%;
    }
}
