.contact-section {
    padding: 6rem 2rem;
    background-color: var(--color-bg );
    text-align: center;
    height: 80vh;
}

.contact-container {
    max-width: 700px;
    margin: 0 auto;
}

.contact-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.contact-subtitle {
    color: var(--color-text);
    margin-bottom: 3rem;
    font-size: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-input,
.contact-textarea {
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    font-size: 1rem;
    width: 100%;
    resize: none;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
    color: var(--color-bg);
    font-family: var(--font-body), sans-serif;

}

.contact-input:focus,
.contact-textarea:focus {
    outline: none;
    border-color: #64FFDA;
    box-shadow: 0 0 0 3px rgba(100, 255, 218, 0.2);
}

.contact-btn {
    background-color: #64FFDA;
    color: #0A192F;
    padding: 1rem 2rem;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.contact-btn:hover {
    background-color: #52e6c7;
    transform: translateY(-2px);
}

@media (max-width: 480px) {
    .contact-section {
        padding: 3rem 2rem;
        margin-bottom: 2rem;
    }
}
