/* Footer */
.footer {
    background-color: var(--color-bg);
    color: white;
    padding: 3rem 2rem;
    text-align: center;
}

.footer-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-links a {
    color: #64FFDA;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: var(--font-title), sans-serif;
}

.footer-links a:hover {
    color: var(--color-accent);
}

.footer-links .active {
    font-weight: 600;
    color: var(--color-accent);
}

