.moving-bar {
    overflow: hidden;
    padding: 1rem 0;
}

.moving-track {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
}

.track {
    display: flex;
}

.track .dot {
    color: var(--color-accent);
}

.moving-bar-icon {
    color: var(--color-accent);
}

.track span {
    font-family: var(--font-title), serif;
    font-size: 1rem;
    color: white;
    margin: 0 3rem;
    white-space: nowrap;
    opacity: 0.9;
}

/* 🔁 ECHTE INFINITE LOOP */
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    .moving-bar {
        padding: 0.4rem
    }

    .track span {
        font-size: 0.8rem;
        font-weight: bold;
        font-family: var(--font-title), serif;
        margin: 0 1rem;
    }


}

