@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Typography */
    --font-title: 'BBH Sans Hegarty', sans-serif;
    --font-body: 'Inter', sans-serif;

    /* Colors */
    --color-bg: #000000; /* Achtergrond hoofdkleur */
    --color-accent: #64FFDA; /* Accent (buttons, links,hover) */
    --color-text: #F9FAFB; /* Primaire tekstkleur */
    --color-muted: #94A3B8; /* Secundaire tekst */
    --color-dark: #1F2937;

    --color-nav-bg: rgb(255, 255, 255); /* Semi-transparant donkerblauw */
    --color-nav-border: rgb(136, 232, 244);
    --backdrop-blur: blur(10px);

    /* Effects */
    --transition-fast: 0.3s ease;
    --transition-slow: 0.6s ease;
    --radius: 15px;
    --shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title), sans-serif;
    color: var(--color-text);
}

p {
    font-family: var(--font-body), sans-serif;
    color: var(--color-text);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background-color: var(--color-bg);
    position: relative;
    line-height: 1.6;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='0.04'/%3E%3C/svg%3E");
    pointer-events: none;
    z-index: 9999;
}

.warning {
    color: #ef5d5d;
}

button {
    border: none;
    background-color: var(--color-accent);
    font-family: var(--font-title), sans-serif;
    outline: none;
    padding: 14px 32px;
    border-radius: 15px;
    transition: all var(--transition-fast);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow);
}

li {
    list-style: none;
    font-family: var(--font-body), sans-serif;
    color: var(--color-text);
}

a {
    transition: color var(--transition-fast);
}








