.portfolio-section {
    padding: 6rem 2rem;
    background-color: var(--color-bg);
    min-height: 100vh;
}

.portfolio-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: var(--color-text);
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.portfolio-card-link {
    text-decoration: none;
}

.portfolio-card {
    background-color: white;
    margin: 0 auto;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    color: #0A192F;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.portfolio-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 25px rgb(136, 232, 244);
}

.portfolio-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.portfolio-image img {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.portfolio-content h3 {
    font-size: 1.5rem;
    color: var(--color-bg);
}

.portfolio-content p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-bg);
}

/* Responsive */


@media (min-width: 768px) and (max-width: 1023px) {
    .portfolio-grid {
        grid-template-columns: 1fr ;
    }
}
@media (max-width: 768px) {
    .portfolio-section {
        padding: 4rem 2rem;
    }
    .portfolio-grid {
        grid-template-columns: 1fr ;
    }

    .portfolio-image img {
        width: 400px;
        height: 200px;
        border-radius: 10px;
        margin: 0 20px;
    }

    .portfolio-content h3 {
        font-size: 1.2rem;
    }

    .portfolio-content p {
        font-size: 0.95rem;
    }
}

@media (max-width: 480px) {

    .portfolio-image img {
        width: 400px;
        height: 120px;
        border-radius: 10px;
        margin: 0 20px;
    }

}
