.project-page-header {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}


.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 70vh;
    margin-left: 2rem;
    align-items: center;
}

.hero-right {
    max-width: 600px;
    margin-right: 2rem;
}

.hero-left {
    max-width: 600px;
}

.hero-right img {
    max-width: 600px;
    max-height: 600px;
}


.project-content {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.usp-card {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #fff;
    border-radius: 1rem;
    height: 400px;
}

.strikje {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-accent);
    box-shadow: 6px 9px 20px 0 #646464;
    width: 200px;
    height: 3rem;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strikje h2 {
    margin: 0;
    color: var(--color-bg);
    font-weight: 600;

}

.usp-card p {
    padding: 2rem;
    margin-top: 2rem;
    color: var(--color-bg);
}

.sfeer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3rem auto;
}

.sfeer img {
    max-width: 1000px;
    margin: 0 auto

}

@media (max-width: 480px) {
    .hero {
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        align-items: center;
        margin: 4rem 1rem;
        text-align: center;
        gap: 1.5rem;
    }

    .hero-left h1 {
        font-size: 1.4rem;
    }

    .hero-left p {
        font-size: 1rem;
    }

    .usp-card {
        max-width: 400px;
    }

    .project-content {
        display: grid;

        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .hero-right img {
        max-width: 400px;
        max-height: 400px;
    }

    .sfeer {

    }

    .sfeer img {
        max-width: 300px;
    }
}







